$black-pure: #000;
$black-2: #13171c;
$black-3: #232120;
$white-pure: #ffffff;
$gray-dark: #444249;
$gray-light: #f5f5f5;
$gray-med: #383838;
$c211-red: #951b1e;
$k2-teal: #56C4B7;
$k2-orange: #FF661B;
$k2-blue: #00507D;
$k2-tan: #C8B091;
$k2-lightblue: #00ADEE;
$k2-green: #37B24A;
$k2-lighttan: #CDC6AB;
$k2-greenblue: #226581;

$container-bg-1: $k2-teal;
$container-bg-2: $k2-orange;
$container-bg-3: $k2-blue;
$container-bg-4: $white-pure;
$container-bg-5: $k2-tan;
$container-bg-6: $k2-lightblue;
$container-bg-7: $k2-green;
$container-bg-8: $k2-lighttan;

