<header title="Top Header" class="" data-doneness="iterated" data-description="This is the awesome top header"></header>
<article id="variations">
  <section data-variation="default" title="default">
    <div class="row">
		<div class="large-12 medium-6 columns">
			<h2>Welcome to Foundation</h2>
			<p>This is version 4.3.1.</p>
			<hr />
		</div>
	</div>
  </section>
  <section data-variation="alternative" title="alternative">
    <div class="row">
		<div class="large-12 medium-6 columns">
			<h2>My Second Header Version</h2>
			<p>This is version 4.3.1.</p>
			<hr />
		</div>
	</div>
  </section>
</article>
<aside class="notes">
  <!-- annotation notes, in basic markup, go here //-->
</aside>